/bitrix/activities/bitrix/ 
/bitrix/admin/
/bitrix/backup/
/bitrix/cache/ 
/bitrix/controller_log/ 
/bitrix/image_uploader/
/bitrix/images/ 
/bitrix/js/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/otp/
/bitrix/sounds/

/bitrix/templates/.default/
/bitrix/templates/books/
/bitrix/templates/print/

/bitrix/themes/
/bitrix/tmp/
/bitrix/tools/
/bitrix/[^/]*\.php$ 

/upload/
/design/.sass-cache/
/bitrix/design/.sass-cache/ 

/bitrix/components/bitrix/
/bitrix/modules/
/bitrix/wizards/
/bitrix/gadgets/
/bitrix/panel/

/.idea/
*.sass-cache/