SetEnv APPLICATION_ENV "vv"

Options -Indexes

DirectoryIndex index.html index.php

<IfModule mod_rewrite.c>

RewriteEngine on
RewriteBase /

Options +FollowSymlinks

    # Ñëåø íà êîíöå, ðàçäåëû è ñòàòüè
    RewriteRule ^(\w+)$      $1/ [QSA,R=301,L]
    RewriteRule ^(\w+(/[\w-_]+)+)$      $1/ [R=301,QSA,L]


    # 301 ðåäèðåêò ñ èíäåêñíîãî ôàéëà íà êîðåíü ïàïêè äëÿ seo
    RewriteCond %{REQUEST_METHOD} =GET
    RewriteRule ^(.*)/index\.php(.*)$ http://%{SERVER_NAME}/$1$2 [L,R=301]

    RewriteCond %{REQUEST_METHOD} =GET
    RewriteRule ^index\.php(.*)$ http://%{SERVER_NAME}/$1 [L,R=301]

    ################### MAIN DISPATCHER ############################
    ################################################################
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d [OR]
    RewriteCond %{REQUEST_FILENAME} /
    RewriteRule ^(.*)$ /.core/dispatcher.php [QSA,L]
</IfModule>
